.nav {
    background-color: #239c1d;
    color: #fff;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px 5%;
}

.logo_link{
    margin: 0;
    display: flex;
    align-items: center;
    gap: 10px;
    text-decoration: none;
    color: #fff;
}

.nav__list {
    display: flex;
    gap: 20px;
    list-style: none;
    font-weight: bold;
    cursor: pointer;
    align-items: center;
}
.nav__list_item .link {
    color: #fff;
    text-decoration: none;
}
.nav__list_item .link:hover {
    color: #1c611a;
}
.user_icon {
    margin-top: 5px;
} 
.user_menu {
    position: relative;
} 
.menu {
    position: absolute;
    background-color: #11680bc4;
    color: #fff;
    padding: 10px;
    right: 0;
}
.menu ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.menu ul li {
    background-color: #239c1d;
    margin: 5px 0;
    padding: 5px 10px;
    text-align: center;
}
.menu ul li:hover {
    background-color: #1c611a;
}
.user_icon_button {
    background-color: transparent;
    border: none;
    cursor: pointer;
}
.link {
    text-decoration: none;
    color: #fff;
}